*{
	margin:0;
	padding:0;
/*font-family: 'Baloo Bhaijaan 2', cursive;*/
}

body
{
	background-color:#e1e1e1;
}

.heading
{
	text-align:center;
}
.cust1
{
	display:flex;
	justify-content:center;
	align-item:center;
}
.cust2
{
	display:flex;
	justify-content:center;
	align-item:center;
}