*{
	margin:0;
	padding:0;
/*font-family: 'Baloo Bhaijaan 2', cursive;*/
}

body
{
	background-color:#e1e1e1;
}

.contact
{
		background-color:#c2ecf2;
	
	display:block;
	margin:100px auto;
	padding:20px;
	width:800px;
}