*{
	margin:0;
	padding:0;
/*font-family: 'Baloo Bhaijaan 2', cursive;*/
}

#Services
{
	display:block;
	margin:0px auto;
	width:70vw;
	background-color:#e1e1e1;
}

.cards
{
	display:flex;
	justify-content:center;
	align-item:center;
	margin:20px 0px;
}
