*{
	margin:0;
	padding:0;
/*font-family: 'Baloo Bhaijaan 2', cursive;*/
}

.index img{
	z-index:-1;
}

.index h1{
	font-family: 'Baloo Bhaijaan 2', cursive;
	color:white;
	position:absolute;
	text-align:center;
	top:500px;
	left:600px;
}

.index p{
	color:white;
	text-align:center;
	position:absolute;
	top:550px;
	left:350px;
}

@media only screen and (max-width: 1280px)
{

.index h1{
	font-family: 'Baloo Bhaijaan 2', cursive;
	color:white;
	position:absolute;
	text-align:center;
	top:300px;
	left:200px;
	}

.index p{
	color:white;
	text-align:center;
	position:absolute;
	top:350px;
	left:140px;
	width:350px;
	}
}

@media only screen and (max-width: 540px)
{
.index h1{
	font-family: 'Baloo Bhaijaan 2', cursive;
	color:white;
	position:absolute;
	text-align:center;
	top:200px;
	left:100px;
	}

.index p{
	color:white;
	text-align:center;
	position:absolute;
	top:250px;
	left:50px;
	width:300px;
	}
}

@media only screen and (max-width: 280px)
{
.index h1{
	font-family: 'Baloo Bhaijaan 2', cursive;
	color:white;
	position:absolute;
	text-align:center;
	top:100px;
	left:50px;
	font-size:15px;
	}

.index p{
	color:white;
	text-align:center;
	position:absolute;
	top:120px;
	left:0px;
	width:180px;
	font-size:12px;
	}
}

@media only screen and (max-width: 412px)
{
.index h1{
	font-family: 'Baloo Bhaijaan 2', cursive;
	color:white;
	position:absolute;
	text-align:center;
	top:130px;
	left:50px;
	font-size:15px;
	}

.index p{
	color:white;
	text-align:center;
	position:absolute;
	top:150px;
	left:0px;
	width:180px;
	font-size:12px;
	}
}